html {
	background: url("Pictures/Paper_Background.jpg") no-repeat center center;
	background-size: cover;
	height: 110%;
	margin: 25px;
	}
#goback {
	text-align: left;
	font-size: 2em;
	}
#classes {
	text-align: center;
	}