.tableh {
	text-align: center;
	width: 30em;
	font-size: 3em;
	border-bottom: 2px solid black;
	}
.tablel {
	border-left: 2px solid black;
}
.tabler {
	border-right: 2px solid black;
}
.tableb {
	border-bottom: 1px dashed black;
	font-size: 1.2em;
	}