#message {
	text-align: center;
}
#ppic {
	float: left;
	height: 20em;
	width: 20em;
}
#biography {
	float: right;
}
#name {
	font-size: 3em;
	font-family: Cursive;
	display: inline-block;
	float: left;
	}
.name {
	margin: 0;
	}
* {
	border: 2px dashed black;
}
#biotext {
	height: auto;
	}
#space {
	display: block;
	clear: both;}