#createdby {
	font-size: 2.5em;
	}
#PeerPhinder2 {
	font-size: 3em;
	font-family: Boulder, Impact, sarif;
	}
.names {
	font-size: 1.9em;
}
#info {
	text-align: center;
	}
#goback {
	text-decoration: none;
	float: left;
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
	position: absolute;
	}